<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        " http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://139.129.9.3:3306/secret</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <mapping class="com.geekmadmen.secret.model.TDiary"/>
        <mapping class="com.geekmadmen.secret.model.THobby"/>
        <mapping class="com.geekmadmen.secret.model.TMood"/>
        <mapping class="com.geekmadmen.secret.model.TMoodValue"/>
        <mapping class="com.geekmadmen.secret.model.TUser"/>
        <mapping class="com.geekmadmen.secret.model.TUserHobby"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>